<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) != "" ? "#{yield(:title)} - " : "" %>NZIC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>New Zealand Informatics Competition</h1>
<p>organised and run by <a href="http://nzoi.org.nz">NZOI</a></p>

<ul class="menu">
  <% NZIC::MenuItem.find_each do |item| %>
    <li><%= link_to item.name, item.link %></li>   
  <% end %>
</ul>

<%= yield %>

</body>
</html>
